<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  
  <!-- Description and keywords -->
  <title>Twitter Soccer Formation</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Twitter data -->
  <meta name="twitter:card" content="summary_large_image">
  
  <!-- OG Data -->
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
</head>
<body>  
  
<!DOCTYPE html>
<html>
  <body>
    <div id="app"></div>
    <div id="scene1" class="scene__option active" data-scene="0">Street</div>
    <div id="scene2" class="scene__option" data-scene="1">Galaxy</div>
    <div id="scene3" class="scene__option" data-scene="2">Stadium</div>

    <div id="formation1" class="formation__option active" data-formation="0">Formation 1</div>
    <div id="formation2" class="formation__option" data-formation="1">Formation 2</div>
    <div id="formation3" class="formation__option" data-formation="2">Formation 3</div>
  </body>
</html>