$small-mobile-only: "(max-width: 320px)";
$mobile-only: "(max-width: 600px)";
$tablet-only: "(min-width: 768px) and (max-width: 1023px)";
$tablet-down: "(max-width: 768px)";
$tablet: "(min-width: 768px)";
$desktop-s: "(min-width: 1024px)";
$desktop-m: "(min-width: 1200px)";
$desktop-xl: "(min-width: 2000px)";

$white: #fff;
$black: #000;

$yu-gothic: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;